# =====================
# OS
# =====================
.DS_Store

# =====================
# Django / Python
# =====================
__pycache__/
*.pyc
*.pyo
*.sqlite3
.env
venv/
.env.*

# =====================
# Angular / Node
# =====================
node_modules/
dist/
.angular/
.cache/

# =====================
# Logs
# =====================
*.log

